<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troop List</title>
</head>
<body>
    <table>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Tribe</th>
            <th>Attack Power</th>
            <th>Commander Name</th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
            <td></td>
            <td><%= el.name %></td>
            <td><%= el.tribe %></td>
            <td><%= el.type %></td>
            <td><%= el.attackPower %></td>
            <td><%= el.Commander.name %></td>
            <td></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>